.searchContainer {
    display: flex;
    justify-content: center;
}

.searchInput input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 16px;
    width: 300px;
}

.btnSearch {
    background-color: #3498db; 
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    margin-left: 10px; 
}

.btnSearch:hover {
    background-color: #2980b9; 
    color: #ecf0f1; 
}

.btnSearch:active {
    background-color: #1f618d; 
    transform: scale(0.98); 
}
